body {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-image: radial-gradient(circle at center right, rgb(240, 101, 23), rgb(242, 194, 28));
    padding: 10px 40px;
    font-weight: bold;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 40px;
}

.half-width img {
    width: 90%;
}