body {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-image: radial-gradient(circle at center right, rgb(240, 101, 23), rgb(242, 194, 28));
    padding: 10px 40px;
    font-weight: bold;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding: 40px;
}

.half-width img {
    width: 90%;
}

.dream-big {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;

}